{{>header}}
<main class="error_container">
  <img src="images/robot-404.svg" alt="Image of broken robot." />
  <div class="error_content">
    <h1>Aw! snap</h1>
    <h2>404 Page Not Found!</h2>
    <p>Go to <a href="/">search page</a></p>
  </div>
</main>
{{>footer}}
