<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <header>{{>navbar}}</header>
