{{>header}}
<main class="search-container">
    <img src="images/fps_logo.png" alt="Websurfx meta-search engine logo" />
    {{>search_bar}}
</main>
<script src="static/index.js"></script>
{{>footer}}
